html, body {
    height: 100%;
    width: 100%;
    background-color:black;
    color:white;
  }
  nav{
    display:flex;
    justify-content: space-between;
  }
  h4{
    opacity: 0.5;
  }
  #About{
    display:flex
    }
  
  .Image{width: 140px;
        height: 170px;
         padding: 50px;
         border-radius: 90px;
    }
  #Contact{
    height: 10px;
    width: 20px;
    display: inline-block;
  }
  table{
    border:0px;
    padding:0px;
    margin:0px;
    width:100%;
  }
  .OneS{
    background-color:#800020
  }
  .TwoS{
    background-color:#4169e1
  }
  .ThreeS{
    background-color:#E75480
  }
  #cen{
  text-align: center;
    position: relative;
    width:100%;
    height:10%;
  }
  .imi{
    color: white;
    background-image: url("3-2.webp");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  .idk{
    color: #30D5C8;
  }
  input{
    margin: 10px;
  }